[defaults]
inventory         = inventory/hosts.yml
roles_path        = roles
host_key_checking = False
stdout_callback   = yaml
gather_facts      = smart
fact_caching      = jsonfile
fact_caching_connection = /tmp/ansible-facts
fact_caching_timeout    = 86400
remote_user       = ubuntu
private_key_file  = ~/.ssh/id_rsa
# uncomment if remote_user is not root
become          = true
# sudo is the default; alternatives: su, pbrun, doas
become_method   = sudo

[ssh_connection]
pipelining = True
